body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f2f7ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #fde0c8;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

header .icon {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    width: 60%;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left, .right {
    flex: 1;
    padding: 20px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeed4;
}

.map-image {
    max-width: 100%;
    height: auto;
    border-radius: 1px;
}

.right {
    border-left: 1px solid #eee;
}

.form-section {
    margin-bottom: 10px;
}

.form-section h2 {
    margin-top: 0;
    color: #f49f27;
    font-size: 16px;
}

input {
    display: block;
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #f3aa6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8420;
}

#result {
    margin-top: 20px;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

#resultTable th, #resultTable td {
    border: 1px solid #ffaa4f;
    padding: 8px;
    text-align: center;
}

#resultTable th {
    background-color: #ffe0a5;
    color: #333;
}

#pathResult, #distanceResult {
    font-weight: bold;
}
